In [1]:
import qgrid

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.DataFrame({'A': np.random.rand(10), 'B': 10*np.random.rand(10), 'C': 100*np.random.rand(10)})

In [5]:
df

          A         B          C
0  0.408838  8.661888  98.492620
1  0.811692  9.750249  13.988024
2  0.325396  7.474997  69.189591
3  0.190855  8.648401  50.482204
4  0.830451  1.894006  27.553813
5  0.767704  3.224260  29.169752
6  0.624636  3.746139  24.838805
7  0.836219  4.714951  80.637009
8  0.509872  7.304694   3.803782
9  0.352520  0.549373  13.308247

In [6]:
pd.set_option('display.max_rows', 8)

In [7]:
qgrid.show_grid(df)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defaultColumnWidth': 150, 'rowHeight': 28, 'enableColumnReorder': False, 'enableTextSelectionOnCells': True, 'editable': True, 'autoEdit': False, 'explicitInitialization': True, 'maxVisibleRows': 15, 'minVisibleRows': 8}, precision=5)

In [9]:
randn = np.random.randn
df_types = pd.DataFrame({
    'A' : 1.,
    'B' : pd.Series(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08', '2013-01-09'],index=list(range(9)),dtype='datetime64[ns]'),
    'C' : pd.Series(randn(9),index=list(range(9)),dtype='float32'),
    'D' : np.array([3] * 9,dtype='int32'),
    'E' : pd.Categorical(["washington", "adams", "washington", "madison", "lincoln","jefferson", "hamilton", "roosevelt", "kennedy"]),
    'F' : ["foo", "bar", "buzz", "bippity","boppity", "foo", "foo", "bar", "zoo"] })
df_types['G'] = df_types['F'] == 'foo'
qgrid_widget = qgrid.QgridWidget(df=df_types, show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defaultColumnWidth': 150, 'rowHeight': 28, 'enableColumnReorder': False, 'enableTextSelectionOnCells': True, 'editable': True, 'autoEdit': False, 'explicitInitialization': True, 'maxVisibleRows': 15, 'minVisibleRows': 8}, precision=5, show_toolbar=True)

In [11]:
qgrid_widget.get_changed_df()

     A          B         C  D           E    F      G
0  1.0 2013-01-01  0.958677  3  washington  foo   True
5  1.0 2013-01-06 -0.666162  3   jefferson  foo   True
6  1.0 2013-01-07  0.367080  3    hamilton  foo   True
7  1.0 2013-01-08 -0.009094  3   roosevelt  bar  False
8  1.0 2013-01-09  0.543499  3     kennedy  zoo  False